language: ruby
sudo: false
before_install:
  - bundle update
env:
  global:
    - CC_TEST_REPORTER_ID=98c9b3070ea9ac0e8f7afb6570f181506c3a06372b1db5c7deb8e46089fdf132
    - GIT_COMMITTED_AT=$(if [ "$TRAVIS_PULL_REQUEST" == "false" ]; then git log -1 --pretty=format:%ct; else git log -1 --skip 1 --pretty=format:%ct; fi)
  matrix:
    - "RAILS_VERSION=5.0.7.1"
    - "RAILS_VERSION=5.1.6.1"
    - "RAILS_VERSION=5.2.2"
    - "RAILS_VERSION=master"
rvm:
  - 2.2.9
  - 2.3.8
  - 2.6.1
  - ruby-head
matrix:
  allow_failures:
    - rvm: ruby-head
    - env: "RAILS_VERSION=master"
before_script:
  - curl -L https://codeclimate.com/downloads/test-reporter/test-reporter-latest-linux-amd64 > ./cc-test-reporter
  - chmod +x ./cc-test-reporter
  - ./cc-test-reporter before-build
after_script:
  # Preferably you will run test-reporter on branch update events. But
  # if you setup travis to build PR updates only, you don't need to run
  # the line below
  - if [ "$TRAVIS_PULL_REQUEST" == "false" ]; then ./cc-test-reporter after-build --exit-code $TRAVIS_TEST_RESULT; fi
  # In the case where travis is setup to build PR updates only,
  # uncomment the line below
  # - ./cc-test-reporter after-build --exit-code $TRAVIS_TEST_RESULT
